<mat-card>
  <mat-card-title>{{ (company$ | async)?.name }}</mat-card-title>
  <mat-card-subtitle>{{ (company$ | async)?.country }}</mat-card-subtitle>
  <mat-card-content>
    <ng-container *ngIf="company$ | async as company">

      <p>Phones: {{ company.phones.join(', ') }}</p></ng-container>

    <mat-divider></mat-divider>

    <ng-container *ngIf="(items$ | async); else noItems">
      <mat-list>
        <mat-list-item *ngFor="let item of (items$ | async)">
          <div class="w-full flex justify-between">
            <span>{{ item.name }} (x{{ item.count }})</span>
            <span>{{ item.price * item.count | currency }}</span>
          </div>
        </mat-list-item>
      </mat-list>

      <mat-divider></mat-divider>
      <h3 class="total">Total: {{ total$ | async | currency }}</h3>
    </ng-container>


    <ng-template #noItems>
      <p class="text-muted">No items</p>
    </ng-template>
  </mat-card-content>
</mat-card>

